## (Example) Environment Variables ##

# Server 'Base URL'
VITE_SERVER_BASE_URL = "Your_Server_Base_URL"
# Example: "http://localhost:3001"

# Server 'API Version'
VITE_SERVER_API_VERSION = "Your_Server_API_Version"
# Example: "/api/v1"

# Clerk 'Secret Keys'
VITE_CLERK_PUBLISHABLE_KEY = "Your_Clerk_Publishable_Key"

# Clerk 'Routes'
VITE_CLERK_SIGN_IN_URL = "/sign-in"
VITE_CLERK_SIGN_UP_URL = "/sign-up"
VITE_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL = "/"
VITE_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL = "/"