## (Example) Environment Variables ##

# Shortify Server 'Base URL'
NEXT_PUBLIC_SHORTIFY_SERVER_BASE_URL = "Your_Shortify_Server_Base_URL"

# Clerk 'Service'
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY = "Your_Clerk_Publishable_Key"
CLERK_SECRET_KEY = "Your_Clerk_Secret_Key"

# Clerk 'Routes'
NEXT_PUBLIC_CLERK_SIGN_IN_URL = "/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL = "/sign-up"
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL = "/"
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL = "/"