## Git Ignore Files ##

# 'Git' Folder
*.git

# 'OS Waste' File
*.DS_Store

# 'Env' File
*.env

# 'Vercel Waste' File
*.vercel

# 'VSCode Waste' File
*.vscode

# 'Local' File
*.local

# 'Logs' File
*.log

# Typescript 'Cache' File
*.tsbuildinfo

# 'Dependencies' Folder
/node_modules

# Vite 'Production Build' Folder
/dist

# 'Coverage' Folder
/coverage

# 'Logs' Folder
/logs