## (Example) Environment Variables ##

# Server 'Port'
PORT=3001

# Server 'URI'
SERVER_URI=http://localhost:3001

# Database 'Name'
DB_NAME=shortify

# Database 'User'
DB_USER=your_db_user

# Database 'Password'
DB_PASS=your_db_password

# MongoDB 'URI'
MONGO_URI=mongodb+srv://your_db_user:your_db_password@cluster.mongodb.net/shortify
# Note: Use your own 'MongoDB Atlas Connection String'
